@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dad's Comicbook and CD Emporium!</h1>
    <p>A simple project to catagorize my fathers extensive comicbook and CD collection.</p>
</div>
